<remote_servers>
<all_replicated>
          <shard>
                  <replica>
                          <host>10.129.0.30</host>
                          <port>9000</port>
                          <user>default</user>
						  <password>and1512</password>
                          <secure>0</secure>
                  </replica>
				  <replica>
                          <host>10.129.0.3</host>
                          <port>9000</port>
                          <user>default</user>
						  <password>and1512</password>
                          <secure>0</secure>
                  </replica>
				  <replica>
                          <host>10.129.0.7</host>
                          <port>9000</port>
                          <user>default</user>
						  <password>and1512</password>
                          <secure>0</secure>
                  </replica>
                <internal_replication>true</internal_replication>
          </shard>
        </all_replicated>
        <all_sharded>
          <shard>
			      <replica>
                          <host>10.129.0.30</host>
                          <port>9000</port>
                          <user>default</user>
						  <password>and1512</password>
                          <secure>0</secure>
                  </replica>
                <internal_replication>true</internal_replication>
          </shard>
          <shard>
			      <replica>
                          <host>10.129.0.3</host>
                          <port>9000</port>
                          <user>default</user>
						  <password>and1512</password>
                          <secure>0</secure>
                  </replica>
                <internal_replication>true</internal_replication>
          </shard>
          <shard>
			      <replica>
                          <host>10.129.0.7</host>
                          <port>9000</port>
                          <user>default</user>
						  <password>and1512</password>
                          <secure>0</secure>
                  </replica>
                <internal_replication>true</internal_replication>
          </shard>
        </all_sharded>
        <replicated_and_sharded>
          <shard>
			      <replica>
                          <host>10.129.0.30</host>
                          <port>9000</port>
                          <user>default</user>
						  <password>and1512</password>
                          <secure>0</secure>
                  </replica>
				  <replica>
                          <host>10.129.0.3</host>
                          <port>9000</port>
                          <user>default</user>
						  <password>and1512</password>
                          <secure>0</secure>
                  </replica>
                <internal_replication>true</internal_replication>
          </shard>
          <shard>
		          <replica>
                          <host>10.129.0.7</host>
                          <port>9000</port>
                          <user>default</user>
						  <password>and1512</password>
                          <secure>0</secure>
                  </replica>
                <internal_replication>true</internal_replication>
          </shard>
        </replicated_and_sharded>
    </remote_servers>
	
<zookeeper>
        <node>
            <host>10.129.0.11</host>
            <port>9181</port>
			<secure>0</secure>
        </node>
    </zookeeper>
	
<listen_host>::</listen_host>
